<ion-header>
  <ion-toolbar>
    <ion-title>Information</ion-title>
    <ion-buttons slot="end" (click)="auth.logoutApp()">
      <ion-icon name="log-out-outline" class="font-25"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
    <ion-segment-button value="info">
      <ion-label>Driver Info</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>Driver History</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card class="real-id-card" *ngIf="INFO && segment =='info' ">
    <ion-card-header>
      <ion-item lines="none">
        <ion-label>License # {{INFO.licenseInfo.lic_number}}</ion-label>
        <ion-button slot="end" *ngIf="INFO.driverInfo.realID =='Y' ">
          <ion-icon name="star" slot="end"></ion-icon>
          Real ID
        </ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none" *ngFor="let lic of licDocs">
        <ion-icon
          [name]="lic.icon"
          slot="start"
          class="blue-color-icon"
        ></ion-icon>
        <ion-label>{{lic.name}}</ion-label>
        <ion-icon
          [name]="lic.isCheck? 'checkmark-outline':'close-outline'"
          [ngClass]="lic.isCheck?'green-color-icon': 'red-color-icon' "
        ></ion-icon>
      </ion-item>

      <!-- <ion-item lines="none">
        <ion-icon
          name="bus-outline"
          slot="start"
          class="blue-color-icon"
        ></ion-icon>
        <ion-label>Commercial License</ion-label>
        <ion-icon
          [name]="LicenseRealId['rsp_trk_privilege_cdField'] =='Y'? 'checkmark-outline':'close-outline'"
          [ngClass]="LicenseRealId['rsp_trk_privilege_cdField'] == 'Y'?'green-color-icon': 'red-color-icon' "
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          name="car-outline"
          slot="start"
          class="blue-color-icon"
        ></ion-icon>
        <ion-label>Regular License</ion-label>
        <ion-icon
          [name]="LicenseRealId['rsp_veteran_flField'] =='Y'? 'checkmark-outline':'close-outline'"
          [ngClass]="LicenseRealId['rsp_veteran_flField'] =='Y'?'green-color-icon': 'red-color-icon' "
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          name="bicycle-outline"
          slot="start"
          class="blue-color-icon"
        ></ion-icon>
        <ion-label>Motorcycle</ion-label>
        <ion-icon
          [name]="LicenseRealId['rsp_vision_waiver_flField'] =='Y'? 'checkmark-outline':'close-outline'"
          [ngClass]="LicenseRealId['rsp_vision_waiver_flField'] == 'Y'?'green-color-icon': 'red-color-icon' "
        ></ion-icon>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          name="card-outline"
          slot="start"
          class="blue-color-icon"
        ></ion-icon>
        <ion-label>Identification Card</ion-label>
        <ion-icon
          [name]="LicenseRealId['rsp_visn_corr_flField'] =='Y'? 'checkmark-outline':'close-outline'"
          [ngClass]="LicenseRealId['rsp_visn_corr_flField'] =='Y'?'green-color-icon': 'red-color-icon' "
        ></ion-icon>
      </ion-item> -->
      <ion-row class="border-t-1-ee pad-t-5">
        <ion-col class="border-r-1-ee">
          <p>Existing Fees</p>
          <span class="blue-color-icon font-20"
            >$ {{INFO.driverInfo.existfee}}</span
          >
        </ion-col>
        <ion-col class="ion-text-center">
          <p>Points</p>
          <span class="blue-color-icon font-20"
            >{{INFO.driverInfo.points}}</span
          >
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="INFO && segment =='info' ">
    <ion-card-header>
      <ion-card-title>Driver Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>First Name : {{INFO.driverInfo.first_name}}</p>
      <p>Last Name : {{INFO.driverInfo.last_name}}</p>
      <p>DOB : {{INFO.driverInfo.dob}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="INFO && segment =='info' ">
    <ion-card-header>
      <ion-card-title>Address Information</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Address Type : {{INFO.addressInfo.addr_type}}</p>
      <p>City : {{INFO.addressInfo.city}}</p>
      <p>State : {{INFO.addressInfo.state}}</p>
      <p>Zip Code : {{INFO.addressInfo.zipcode}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="INFO && segment =='info' ">
    <ion-card-header>
      <ion-card-title>
        <ion-icon
          name="bus-outline"
          class="blue-color-icon font-25"
          *ngIf="INFO.licenseEndors.rsp_lic_type_cdField=='COM' "
        ></ion-icon>
        <ion-icon
          name="car-outline"
          class="blue-color-icon font-25"
          *ngIf="INFO.licenseEndors.rsp_lic_type_cdField=='REG' "
        ></ion-icon>
        <span class="type-lic"
          >Type : {{INFO.licenseEndors.rsp_lic_type_descField}}</span
        >
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-row class="border-b-1-ee pad-t-5">
        <ion-col class="border-r-1-ee">
          <p>Class</p>
          <span class="blue-color-icon font-20"
            >{{INFO.licenseEndors.rsp_lic_class_cdField}}</span
          >
        </ion-col>
        <ion-col>
          <p>Endorsements</p>
          <p *ngFor="let e of INFO.licenseEndors['rsp_lic_endr_arrayField'] ">
            <span *ngIf="e.rsp_lic_endr_descField"
              >{{e.rsp_lic_endr_descField}}</span
            >
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="border-b-1-ee">
        <ion-col class="border-r-1-ee">
          <p>Issue Date</p>
          {{INFO.licenseEndors.rsp_lic_issu_dtField}}
        </ion-col>
        <ion-col>
          <p>Expiry Date</p>
          {{INFO.licenseEndors.rsp_lic_expr_dtField}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Restrictions</p>
          <p *ngFor="let r of INFO.licenseEndors['rsp_lic_rstr_arrayField'] ">
            <span class="blue-color-icon" *ngIf="r.rsp_lic_rstr_descField"
              >{{r.rsp_lic_rstr_descField}}</span
            >
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-accordion-group *ngIf="INFO && segment =='history' ">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Citation(s)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div *ngFor="let item of DriverHistory['citation']">
          <ion-card *ngIf='item["rsp_mvr_cita_legl_descField"] != " " '>
            <ion-card-content>
              <p>Description : {{item['rsp_mvr_cita_legl_descField']}}</p>
              <p>Violation Date : {{item['rsp_mvr_cita_dtField']}}</p>
              <p>Accident Involved : {{item['rsp_mvr_cita_accd_flField']}}</p>
              <p>Commercial Offence : {{item['rsp_mvr_cita_cdl_flField']}}</p>
              <p>Hazardous Material: {{item['rsp_mvr_cita_hzmt_flField']}}</p>
              <p>Disposition Date: {{item['rsp_mvr_susp_dtField']}}</p>
              <p>Disposition:{{item['rsp_mvr_cita_disp_dtField']}}</p>
              <p>Points :{{item['rsp_mvr_cita_pointsField']}}</p>
              <p>Jurisdiction:{{item['rsp_mvr_cita_jurdctField']}}</p>
              <p>Court:{{item['rsp_mvr_cita_crt_nameField']}}</p>
            </ion-card-content>
          </ion-card>
        </div>
        <p *ngIf="DriverHistory && DriverHistory['citation'].length == 0 ">
          No citation information was found
        </p>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <ion-accordion-group *ngIf="INFO && segment =='history' ">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Withdrawl(s)</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div *ngFor="let item of DriverHistory['withdrawls']">
          <ion-card *ngIf='item["rsp_mvr_susp_descField"] != " " '>
            <ion-card-content>
              <p>Description : {{item['rsp_mvr_susp_descField']}}</p>
              <p>Withdrawl Type : {{item['rsp_mvr_susp_wdrl_typeField']}}</p>
              <p>Withdrawl Extent : {{item['rsp_mvr_susp_wdrl_extField']}}</p>
              <p>Jurisdiction : {{item['rsp_mvr_susp_jurdctField']}}</p>
              <p>Reinstatement Date: {{item['rsp_mvr_susp_rein_dtField']}}</p>
              <p>Served Type: {{item['rsp_mvr_susp_serv_descField']}}</p>
              <p>Served Date:{{item['rsp_mvr_susp_serv_dtField']}}</p>
              <p>Violation Date :{{item['rsp_mvr_susp_violat_dtField']}}</p>
              <p>Effective Date:{{item['rsp_mvr_susp_dtField']}}</p>
              <p>Expiration Date:{{item['rsp_mvr_susp_expr_dtField']}}</p>
            </ion-card-content>
          </ion-card>
        </div>
        <p *ngIf="DriverHistory && DriverHistory['withdrawls'].length == 0 ">
          No withdrawl information was found
        </p>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- <div align="center">
    <ion-button (click)="wantMore()">Want More?</ion-button>
  </div> -->
  <!-- <ion-accordion-group *ngIf="INFO">
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Driver Information</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>First Name : {{INFO.driverInfo.first_name}}</p>
        <p>Last Name : {{INFO.driverInfo.last_name}}</p>
        <p>DOB : {{INFO.driverInfo.dob}}</p>
      </div>
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Address Information</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>Address Type : {{INFO.addressInfo.addr_type}}</p>
        <p>City : {{INFO.addressInfo.city}}</p>
        <p>State : {{INFO.addressInfo.state}}</p>
        <p>Zip Code : {{INFO.addressInfo.zipcode}}</p>
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>License Information</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <p>License Number : {{INFO.licenseInfo.lic_number}}</p>
        <p>License Type : {{INFO.licenseInfo.lic_type}}</p>
        <p>License State : {{INFO.licenseInfo.lic_state}}</p>
        <p>License Status : {{INFO.licenseInfo.lic_status}}</p>
        <p>License Expiry : {{INFO.licenseInfo.lic_expiry}}</p>
      </div>
    </ion-accordion>
  </ion-accordion-group> -->
</ion-content>
