<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="--background: #f4f5f6">
<br>
<div class="divMaxWidth">
  <form [formGroup]="loginForm" (ngSubmit)="clickSubmit()" novalidate>
  <img src="assets/imgs/logo.jpeg" alt="" class="logo" />
  <ion-card style="padding: 15px 20px">
    <ion-item>
      <ion-input
        type="email"
        label="Email Address"
        labelPlacement="floating"
        placeholder="Enter email"
        formControlName="userEmail"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        [type]="showPassword ? 'password':'text'"
        label="Password"
        labelPlacement="floating"
        placeholder="Enter password"
        formControlName="userPassword"
      ></ion-input>
      <ion-button (click)="togglePassword()" fill="clear">
        <ion-icon slot="icon-only" [name]="showPassword? 'eye-outline': 'eye-off-outline'"></ion-icon>
      </ion-button>
    </ion-item>
    
    <ion-item class="ion-no-padding"  lines="none">
      <ion-checkbox labelPlacement="end" class="checkbox" ></ion-checkbox>
      <ion-label class="blueClr">Save email address</ion-label>
    </ion-item>
    <ion-item class="ion-no-padding"  lines="none">
      <ion-icon slot="start" name="finger-print-outline" style="margin-right:5px;color: #103a84"></ion-icon>
      <ion-label class="blueClr">Fingerprint Login</ion-label>
    </ion-item>

    <ion-button 
      class="ion-text-uppercase loginBtn" 
      [disabled]="!loginForm.valid"  
      type="submit"
    > Log in </ion-button>

    <div class="forgot" (click)="forgotpwd()">Forgot email address or password?</div>
  </ion-card>
</form>

  <ion-button expand="block" class="createAccBtn"> Create Account </ion-button>
  <ion-row class="ion-no-padding">
    <ion-col size="6" class="ion-no-padding" *ngFor="let card of cardList">
      <ion-card class="grid-card">
        <div><img [src]="card.logo" alt="" /></div>
        <div>{{card.name}}</div>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="forgot privacy">Privacy Policy | Terms and Conditions of Use</div>
</div>
  <br>
  <ion-modal
    trigger="open-modal"
    (willDismiss)="modalwilldiscmiss()"
    [isOpen]="isModalOpen"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Verify It's You</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()"
              ><ion-icon name="close-circle-outline"></ion-icon
            ></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          For your security, DDS wants to make sure this account really belongs
          to you.
        </p>
        <hr />

        <div>
          <h4>Verify Security Code</h4>
          <p>
            A security code was sent to the preferred contact method we have on
            file for you at DDS, either phone number or email. Please enter the
            security code and select the <b>Continue</b> button below to verify.
          </p>
        </div>

        <ion-item>
          <ion-label position="stacked">Security Code</ion-label>
          <ion-input
            type="text"
            placeholder=""
            [(ngModel)]="securityCode"
            required
          ></ion-input>
        </ion-item>

        <p>
          <b
            >If you do not receive your message, please lo into Online Services
            to confirm your security code is setup properly. If it is, check
            with your phone carrier or email provider.</b
          >
        </p>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-button
            expand="block"
            fill="clear"
            (click)="validateSecurityCode()"
            [disabled]="securityCode ==''?true : false"
            >CONTINUE</ion-button
          >
        </ion-toolbar>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>
