<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="title">About <span>DDS 2 Go</span> App</div>
  <div class="version">Ver 2.0.6</div>
  <p class="appDetails">Use DDS 2 Go app tp renew your license, pay fines, purchase motor vehicle reports, schedule your driving test and
    more, all at your fingertips.</p>
</ion-content>